/*
Digimax.com ncapsuld css
*/

/*DL, DT, DD TAGS LIST DATA*/
dl {
    margin-bottom:10px;
}

dl dt {
    background:#302D26;
    color:#fff;
    float:left;
    font-weight:bold;
    margin-right:10px;
    padding:5px;
    width:100px;
}

dl dd {
    margin:2px 0;
    padding:5px 0;
}

/* H3 */
h3 {
    text-decoration: underline;
    margin-bottom: 5px;
}

/* IMG */
img {
    float:left;
}

.big {
    float: none;
}

.list {
    width:300px;
    margin-bottom: 0px;
    overflow:hidden;
    border-top:1px solid #ccc;
    padding-bottom: 5px;
    padding-left: 5px;
    line-height: 100%;
}
.list li {
    line-height:1.5em;
    border-bottom:1px solid #ccc;
    float:left;
    display:inline;
}
.double li	{ width:50%; }
.triple li	{ width:33.333%; }
.quad li	{ width:25%; }
.six li		{ width:16.666%; }

/*.list {*/
    /*list-style: none;*/
/*}*/

/*.list li {*/
    /*margin-left: 10px;*/
/*}*/

.warningMessage {
    color: firebrick;
    font-size: larger;
}

#wrapper {
    width:940px;
    padding:10px;
    margin:0 auto;
    overflow:hidden;
}

/* UL LI */
/*.list {*/
    /*float:left;*/
    /*width:500px;*/
    /*height:500px;*/
/*}*/

/*.list li {*/
/*float:left;*/
    /*width:500px;*/
    /*list-style:none;*/
/*}*/
/*.list , .list li {*/
    /*-moz-transform: rotate(-90deg) scaleX(-1);*/
    /*-o-transform: rotate(-90deg) scaleX(-1);*/
    /*-webkit-transform: rotate(-90deg) scaleX(-1);*/
    /*-ms-transform: rotate(-90deg) scaleX(-1);*/
    /*transform: rotate(-90deg) scaleX(-1);*/
/*}*/
