/*
Digimax.com ncapsuld css
*/

body {
    margin: 0px 10px 0px 10px;
}

/*DL, DT, DD TAGS LIST DATA*/
dl {
    margin-bottom:10px;
}

dl dt {
    background:#302D26;
    color:#fff;
    float:left;
    font-weight:bold;
    margin-right:10px;
    padding:5px;
    width:100px;
}

dl dd {
    margin:2px 0;
    padding:5px 0;
}

/* H3 */
h3 {
    text-decoration: underline;
    margin-bottom: 5px;
}

/* IMG */
img {
    /*float:left;*/
}

.ads {
    clear: both;
    float: right;
    font-size: .88em;
    vertical-align: bottom;
    border: 0px darkred dashed;
    vertical-position: subscript;
    margin-right: 2em;
    color: lightgray;
}

.ads a:link {color: lightgray}
.ads a:visited {color: lightgray}
.ads a:hover {color: gray}
.ads a:active {color: lightgray}

.ads h3 {
    color: gray;
}

.big {
    float: none;
}

.container {
    width: 100%;
    overflow: hidden;
}

.list {
    width:300px;
    margin-bottom: 0px;
    overflow:hidden;
    border-top:1px solid #ccc;
    padding-bottom: 5px;
    padding-left: 5px;
    line-height: 100%;
}
.list li {
    line-height:1.5em;
    border-bottom:1px solid #ccc;
    float:left;
    display:inline;
}
.single li { width: 100%;}
.double li	{ width:50%; }
.triple li	{ width:33.333%; }
.quad li	{ width:25%; }
.six li		{ width:16.666%; }

.warningMessage {
    color: firebrick;
    font-size: larger;
}

/*.horizontal img {*/
/*transform: translate(400px,-200px) rotate(-90deg);*/
/*-moz-transform: translate(400px,-200px) rotate(-90deg);*/
/*-webkit-transform: translate(400px,-200px) rotate(-90deg);*/
/*-o-transform: translate(400px,-200px) rotate(-90deg);*/
/*}*/

/*#wrapper {*/
/*width:940px;*/
/*padding:10px;*/
/*margin:0 auto;*/
/*overflow:hidden;*/
/*}*/
